<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="main-screen">
        <div class="additional-screen">{{ additionalScreenText }}</div>
        {{ mainScreenText }}
      </div>
      <table class="calc-digits">
        <tr>
          <td class="keys clear-key" colspan="3" (click)="clearAll()">Clear All</td>
          <td class="keys operation-key" colspan="1" (click)="pressKey($event)" id="+">+</td>
        </tr>
        <tr>
          <td class="keys digit-key" (click)="pressKey($event)" id="7">7</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="8">8</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="9">9</td>
          <td class="keys operation-key" (click)="pressKey($event)" id="-">-</td>
        </tr>
        <tr>
          <td class="keys digit-key" (click)="pressKey($event)" id="4">4</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="5">5</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="6">6</td>
          <td class="keys operation-key" (click)="pressKey($event)" id="*">*</td>
        </tr>
        <tr>
          <td class="keys digit-key" (click)="pressKey($event)" id="1">1</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="2">2</td>
          <td class="keys digit-key" (click)="pressKey($event)" id="3">3</td>
          <td class="keys operation-key" (click)="pressKey($event)" id="/">/</td>
        </tr>
        <tr>
          <td colspan="2" class="keys digit-key" (click)="pressKey('0')">0</td>
          <td class="keys digit-key" (click)="pressKey($event)" id=".">.</td>
          <td class="keys equal-key" (click)="getAnswer()">=</td>
        </tr>
      </table>
    </div>
  </div>
</div>